In [82]:
import os
import glob
import pandas as pd
import numpy as np

In [110]:
os.chdir(r"C:\Users\super\Downloads\FlightData_new")
df1=pd.DataFrame()
df2=pd.DataFrame()
df1=pd.read_csv('Flightdata2016.csv')
df2=pd.read_csv('Flightdata2017.csv')

In [111]:
df1=df1.dropna()
df2=df2.dropna()

In [149]:
df1.shape

(936961, 21)

In [150]:
df2.shape

(914475, 21)

In [148]:
resultf.shape

(1851436, 21)

In [86]:
resultf=resultf.dropna()

In [87]:
resultf.shape

(1851436, 18)

In [90]:
resultf.loc[resultf['CRSArrTime'].isin([2400])]

Empty DataFrame
Columns: [Unnamed: 0, Year, Quarter, Month, DayofMonth, FlightDate, DepTime, DepDel15, Origin, Dest, CRSDepTime, DepDelayMinutes, OriginAirportID, DestAirportID, ArrTime, CRSArrTime, ArrDel15, ArrDelayMinutes]
Index: []

In [91]:
resultf.shape

(1851436, 18)

In [92]:
resultf.dtypes

Unnamed: 0           int64
Year                 int64
Quarter              int64
Month                int64
DayofMonth           int64
FlightDate          object
DepTime            float64
DepDel15           float64
Origin              object
Dest                object
CRSDepTime           int64
DepDelayMinutes    float64
OriginAirportID      int64
DestAirportID        int64
ArrTime            float64
CRSArrTime           int64
ArrDel15           float64
ArrDelayMinutes    float64
dtype: object

In [112]:
df1['FlightDate'] = pd.to_datetime(df1['FlightDate'])
df1['ArrivalDate']=df1['FlightDate']
df1['ArrivalDate'] = pd.to_datetime(df1['ArrivalDate'])

In [113]:
df2['FlightDate'] = pd.to_datetime(df2['FlightDate'])
df2['ArrivalDate']=df2['FlightDate']
df2['ArrivalDate'] = pd.to_datetime(df2['ArrivalDate'])

In [114]:
for index, row in df1.iterrows():
    if(row['CRSDepTime']>row['CRSArrTime']):
        z = row['ArrivalDate'] + pd.DateOffset(days=1)
        df1.at[index,'ArrivalDate'] = z
#     print(row['FlightDate'],row['ArrivalDate'],row['DepTime'],row['ArrTime'])

In [115]:
for index, row in df2.iterrows():
    if(row['CRSDepTime']>row['CRSArrTime']):
        z = row['ArrivalDate'] + pd.DateOffset(days=1)
        df2.at[index,'ArrivalDate'] = z
#     print(row['FlightDate'],row['ArrivalDate'],row['DepTime'],row['ArrTime'])

In [121]:
df1['ArrTime1']=df1['CRSArrTime']

In [122]:
df2['ArrTime1']=df2['CRSArrTime']

In [123]:
df1['DepTime1']=df1['CRSDepTime']

In [124]:
df2['DepTime1']=df2['CRSDepTime']

In [125]:
for index, row in df1.iterrows():
    x=row['ArrTime1']%100
    ifor_val = row['ArrTime1'] - x
    df1.at[index,'ArrTime1'] = ifor_val

In [126]:
for index, row in df2.iterrows():
    x=row['ArrTime1']%100
    ifor_val = row['ArrTime1'] - x
    df2.at[index,'ArrTime1'] = ifor_val

In [13]:
df1[['CRSArrTime','ArrTime1']]

        CRSArrTime  ArrTime1
0             1141      1100
1             1141      1100
2             1141      1100
3             1141      1100
4             1141      1100
5             1141      1100
6             1141      1100
7             1141      1100
8             1141      1100
9             1141      1100
10            1141      1100
11            1141      1100
12            1141      1100
13            1141      1100
14            1141      1100
15            1141      1100
16            1141      1100
17            1141      1100
18            1141      1100
19            1141      1100
20            1141      1100
21            1141      1100
22            1141      1100
23            1141      1100
24            1141      1100
25            1141      1100
26            1141      1100
27            1141      1100
28            1141      1100
29            1735      1700
...            ...       ...
948789        2116      2100
948790        2356      2300
948791        1623      1600
948792        2000      2000
948793        1220      1200
948794        1448      1400
948795         840       800
948796        1237      1200
948797        1845      1800
948798        1450      1400
948799         430       400
948800        1350      1300
948801        2330      2300
948802        1727      1700
948803        1920      1900
948804        2245      2200
948805         950       900
948806        1134      1100
948807        1224      1200
948808        2259      2200
948809        1150      1100
948810          10         0
948811        1842      1800
948812        2132      2100
948813        2359      2300
948814        1330      1300
948815        2259      2200
948816        2024      2000
948817        1312      1300
948818         835       800

[936961 rows x 2 columns]

In [127]:
for index, row in df1.iterrows():
    y=row['DepTime1']%100
    ifor_val = row['DepTime1']- y      
    df1.at[index,'DepTime1'] = ifor_val

In [128]:
for index, row in df2.iterrows():
    y=row['DepTime1']%100
    ifor_val = row['DepTime1']- y      
    df2.at[index,'DepTime1'] = ifor_val

In [15]:
df1[['CRSDepTime','DepTime1']]

        CRSDepTime  DepTime1
0              830       800
1              830       800
2              830       800
3              830       800
4              830       800
5              830       800
6              830       800
7              830       800
8              830       800
9              830       800
10             830       800
11             830       800
12             830       800
13             830       800
14             830       800
15             830       800
16             830       800
17             830       800
18             830       800
19             830       800
20             830       800
21             830       800
22             830       800
23             830       800
24             830       800
25             830       800
26             830       800
27             830       800
28             830       800
29             900       900
...            ...       ...
948789        1740      1700
948790        2040      2000
948791        1530      1500
948792        1710      1700
948793         645       600
948794        1305      1300
948795         700       700
948796         920       900
948797        1530      1500
948798        1320      1300
948799        2255      2200
948800        1214      1200
948801        2000      2000
948802        1430      1400
948803        1807      1800
948804        1855      1800
948805         645       600
948806        1030      1000
948807         645       600
948808        2130      2100
948809         830       800
948810        2225      2200
948811        1640      1600
948812        1925      1900
948813        2150      2100
948814        1130      1100
948815        2110      2100
948816        1830      1800
948817         925       900
948818         630       600

[936961 rows x 2 columns]

In [16]:
df1.dtypes

Unnamed: 0                  int64
Year                        int64
Quarter                     int64
Month                       int64
DayofMonth                  int64
FlightDate         datetime64[ns]
DepTime                   float64
DepDel15                  float64
Origin                     object
Dest                       object
CRSDepTime                  int64
DepDelayMinutes           float64
OriginAirportID             int64
DestAirportID               int64
ArrTime                   float64
CRSArrTime                  int64
ArrDel15                  float64
ArrDelayMinutes           float64
ArrivalDate        datetime64[ns]
ArrTime1                    int64
DepTime1                    int64
dtype: object

In [129]:
for index, row in df1.iterrows():
    if(row['CRSArrTime']==2400):
        z=0
        df1.at[index,'CRSArrTime'] = z

In [130]:
frames=[df1,df2]
resultf = pd.concat(frames,axis=0)

In [131]:
resultf.shape

(1851436, 21)

In [95]:
resultf[['CRSDepTime','CRSArrTime','FlightDate','ArrivalDate']]

        CRSDepTime  CRSArrTime FlightDate ArrivalDate
0              830        1141 2016-09-01  2016-09-01
1              830        1141 2016-09-02  2016-09-02
2              830        1141 2016-09-04  2016-09-04
3              830        1141 2016-09-05  2016-09-05
4              830        1141 2016-09-06  2016-09-06
5              830        1141 2016-09-07  2016-09-07
6              830        1141 2016-09-08  2017-09-26
7              830        1141 2016-09-09  2016-09-09
8              830        1141 2016-09-10  2016-09-10
9              830        1141 2016-09-11  2017-09-26
10             830        1141 2016-09-12  2017-09-26
11             830        1141 2016-09-13  2017-09-26
12             830        1141 2016-09-14  2016-09-14
13             830        1141 2016-09-15  2017-09-26
14             830        1141 2016-09-16  2016-09-16
15             830        1141 2016-09-17  2017-09-26
16             830        1141 2016-09-18  2016-09-18
17             830        1141 2016-09-19  2017-09-26
18             830        1141 2016-09-20  2016-09-20
19             830        1141 2016-09-21  2016-09-21
20             830        1141 2016-09-22  2016-09-22
21             830        1141 2016-09-23  2016-09-23
22             830        1141 2016-09-24  2016-09-24
23             830        1141 2016-09-25  2016-09-25
24             830        1141 2016-09-26  2016-09-26
25             830        1141 2016-09-27  2016-09-27
26             830        1141 2016-09-28  2016-09-28
27             830        1141 2016-09-29  2016-09-29
28             830        1141 2016-09-30  2016-09-30
29             900        1735 2016-09-01  2016-09-01
...            ...         ...        ...         ...
928446         550         710 2017-01-23  2017-01-23
928447        1455        1615 2017-01-23  2017-01-23
928448        1150        1315 2017-01-23  2017-01-23
928449        2045        2205 2017-01-23  2017-01-23
928450        1825        1945 2017-01-23  2017-01-23
928452        2155        2310 2017-01-23  2017-01-23
928453        1025        1145 2017-01-23  2017-01-23
928454        1540        1830 2017-01-23  2017-01-23
928455        1250        1540 2017-01-23  2016-01-05
928456         630         920 2017-01-23  2016-01-05
928457        1930        2220 2017-01-23  2017-01-23
928458        1035        1200 2017-01-24  2017-01-24
928459        1330        1450 2017-01-24  2017-01-24
928460         610         735 2017-01-24  2017-01-24
928461        1635        1800 2017-01-24  2017-01-24
928462        1910        2045 2017-01-24  2017-01-24
928463        1510        1650 2017-01-24  2017-01-24
928464         835        1015 2017-01-24  2017-01-24
928465        1130        1310 2017-01-24  2017-01-24
928466         935        1135 2017-01-24  2017-01-24
928467        1845        2045 2017-01-24  2017-01-24
928468        1340        1540 2017-01-24  2017-01-24
928469        1615        1740 2017-01-24  2017-01-24
928470        1015        1145 2017-01-24  2017-01-24
928471        1930        2100 2017-01-24  2017-01-24
928472        1820        1950 2017-01-24  2017-01-24
928473        1330        1450 2017-01-24  2017-01-24
928474        1450        1615 2017-01-24  2017-01-24
928475        1725        1940 2017-01-24  2017-01-24
928476        1015        1240 2017-01-24  2017-01-24

[1851436 rows x 4 columns]

In [132]:
os.chdir(r"C:\Users\super\Downloads\WeatherData_new")
dw1=pd.DataFrame()
dw2=pd.DataFrame()
dw1=pd.read_csv('Weatherdata2016.csv')
dw2=pd.read_csv('Weatherdata2017.csv')

In [133]:
frames1=[dw1,dw2]

In [134]:
resultw = pd.concat(frames1,axis=0)

In [135]:
resultw.shape

(263160, 16)

In [136]:
resultw['Date'] = pd.to_datetime(resultw['Date'])
resultf['ArrivalDate'] = pd.to_datetime(resultf['ArrivalDate'])

In [137]:
resultw['Date'] = pd.to_datetime(resultw['Date']).dt.date
resultw['Date'] = pd.to_datetime(resultw['Date'])

In [143]:
result_1=pd.DataFrame()
result=pd.DataFrame()

In [144]:
result_1=pd.merge(resultf,resultw,left_on=['Dest','ArrivalDate','ArrTime1'], right_on=['Airport','Date','time'])

In [145]:
result_1.shape

(1851319, 37)

In [25]:
result_1[['Dest','ArrivalDate','ArrTime1','Airport','Date','time']]

       Dest ArrivalDate  ArrTime1 Airport       Date    time
0       LAX  2016-09-01      1100     LAX 2016-09-01  1100.0
1       LAX  2016-09-02      1100     LAX 2016-09-02  1100.0
2       LAX  2016-09-04      1100     LAX 2016-09-04  1100.0
3       LAX  2016-09-05      1100     LAX 2016-09-05  1100.0
4       LAX  2016-09-06      1100     LAX 2016-09-06  1100.0
5       LAX  2016-09-07      1100     LAX 2016-09-07  1100.0
6       LAX  2016-09-08      1100     LAX 2016-09-08  1100.0
7       LAX  2016-09-09      1100     LAX 2016-09-09  1100.0
8       LAX  2016-09-10      1100     LAX 2016-09-10  1100.0
9       LAX  2016-09-11      1100     LAX 2016-09-11  1100.0
10      LAX  2016-09-12      1100     LAX 2016-09-12  1100.0
11      LAX  2016-09-13      1100     LAX 2016-09-13  1100.0
12      LAX  2016-09-14      1100     LAX 2016-09-14  1100.0
13      LAX  2016-09-15      1100     LAX 2016-09-15  1100.0
14      LAX  2016-09-16      1100     LAX 2016-09-16  1100.0
15      LAX  2016-09-17      1100     LAX 2016-09-17  1100.0
16      LAX  2016-09-18      1100     LAX 2016-09-18  1100.0
17      LAX  2016-09-19      1100     LAX 2016-09-19  1100.0
18      LAX  2016-09-20      1100     LAX 2016-09-20  1100.0
19      LAX  2016-09-21      1100     LAX 2016-09-21  1100.0
20      LAX  2016-09-22      1100     LAX 2016-09-22  1100.0
21      LAX  2016-09-23      1100     LAX 2016-09-23  1100.0
22      LAX  2016-09-24      1100     LAX 2016-09-24  1100.0
23      LAX  2016-09-25      1100     LAX 2016-09-25  1100.0
24      LAX  2016-09-26      1100     LAX 2016-09-26  1100.0
25      LAX  2016-09-27      1100     LAX 2016-09-27  1100.0
26      LAX  2016-09-28      1100     LAX 2016-09-28  1100.0
27      LAX  2016-09-29      1100     LAX 2016-09-29  1100.0
28      LAX  2016-09-30      1100     LAX 2016-09-30  1100.0
29      JFK  2016-09-01      1700     JFK 2016-09-01  1700.0
...     ...         ...       ...     ...        ...     ...
936931  DEN  2016-01-03      2100     DEN 2016-01-03  2100.0
936932  IAH  2016-01-03      2300     IAH 2016-01-03  2300.0
936933  LAS  2016-01-03      1600     LAS 2016-01-03  1600.0
936934  DEN  2016-01-03      2000     DEN 2016-01-03  2000.0
936935  ORD  2016-01-03      1200     ORD 2016-01-03  1200.0
936936  DEN  2016-01-03      1400     DEN 2016-01-03  1400.0
936937  LAX  2016-01-03       800     LAX 2016-01-03   800.0
936938  DEN  2016-01-03      1200     DEN 2016-01-03  1200.0
936939  DEN  2016-01-03      1800     DEN 2016-01-03  1800.0
936940  LAX  2016-01-03      1400     LAX 2016-01-03  1400.0
936941  ORD  2016-01-04       400     ORD 2016-01-04   400.0
936942  SFO  2016-01-03      1300     SFO 2016-01-03  1300.0
936943  DEN  2016-01-03      2300     DEN 2016-01-03  2300.0
936944  PHX  2016-01-03      1700     PHX 2016-01-03  1700.0
936945  SFO  2016-01-03      1900     SFO 2016-01-03  1900.0
936946  MCO  2016-01-03      2200     MCO 2016-01-03  2200.0
936947  DFW  2016-01-03       900     DFW 2016-01-03   900.0
936948  DEN  2016-01-03      1100     DEN 2016-01-03  1100.0
936949  MCO  2016-01-03      1200     MCO 2016-01-03  1200.0
936950  DEN  2016-01-03      2200     DEN 2016-01-03  2200.0
936951  IAH  2016-01-03      1100     IAH 2016-01-03  1100.0
936952  DEN  2016-01-04         0     DEN 2016-01-04     0.0
936953  MIA  2016-01-03      1800     MIA 2016-01-03  1800.0
936954  ATL  2016-01-03      2100     ATL 2016-01-03  2100.0
936955  LAS  2016-01-03      2300     LAS 2016-01-03  2300.0
936956  ORD  2016-01-03      1300     ORD 2016-01-03  1300.0
936957  DEN  2016-01-03      2200     DEN 2016-01-03  2200.0
936958  PHX  2016-01-03      2000     PHX 2016-01-03  2000.0
936959  MCO  2016-01-03      1300     MCO 2016-01-03  1300.0
936960  ORD  2016-01-03       800     ORD 2016-01-03   800.0

[936961 rows x 6 columns]

In [146]:
result=pd.merge(result_1,resultw,left_on=['Origin','FlightDate','DepTime1'], right_on=['Airport','Date','time'])

In [147]:
result.shape

(1851319, 53)

In [152]:
result.

,Unnamed: 0_x,Year,Quarter,Month,DayofMonth,FlightDate,DepTime,DepDel15,Origin,Dest,...,WindGustKmph_y,visibility_y,weatherCode_y,tempF_y,WindChillF_y,winddirDegree_y,humidity_y,time_y,Airport_y,Date_y
0,17,2016,3,9,1,2016-09-01,827.0,0.0,JFK,LAX,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
1,105626,2016,3,9,1,2016-09-01,824.0,0.0,JFK,LAX,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
2,152853,2016,3,9,1,2016-09-01,814.0,0.0,JFK,LAX,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
3,368,2016,3,9,1,2016-09-01,810.0,0.0,JFK,SFO,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
4,105618,2016,3,9,1,2016-09-01,810.0,0.0,JFK,SFO,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
5,3125,2016,3,9,1,2016-09-01,1233.0,1.0,JFK,MIA,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
6,113058,2016,3,9,1,2016-09-01,753.0,0.0,JFK,MIA,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
7,105597,2016,3,9,1,2016-09-01,801.0,0.0,JFK,LAS,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
8,17594,2016,3,9,1,2016-09-01,826.0,0.0,JFK,CLT,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
9,105615,2016,3,9,1,2016-09-01,811.0,0.0,JFK,SEA,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
10,106120,2016,3,9,1,2016-09-01,800.0,0.0,JFK,MCO,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
11,113071,2016,3,9,1,2016-09-01,838.0,0.0,JFK,DEN,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
12,104760,2016,3,9,1,2016-09-01,843.0,0.0,JFK,PHX,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
13,106079,2016,3,9,1,2016-09-01,830.0,0.0,JFK,ATL,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
14,152852,2016,3,9,1,2016-09-01,756.0,0.0,JFK,CLT,...,21,10,353,74,73,315,82,800,JFK,2016-09-01
15,10154,2016,3,9,1,2016-09-01,848.0,0.0,ORD,LAX,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
16,222728,2016,3,9,1,2016-09-01,754.0,0.0,ORD,SFO,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
17,449144,2016,3,9,1,2016-09-01,808.0,0.0,ORD,SFO,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
18,452029,2016,3,9,1,2016-09-01,752.0,0.0,ORD,SFO,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
19,16386,2016,3,9,1,2016-09-01,839.0,0.0,ORD,MIA,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
20,27568,2016,3,9,1,2016-09-01,822.0,0.0,ORD,DFW,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
21,153161,2016,3,9,1,2016-09-01,1026.0,1.0,ORD,JFK,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
22,228583,2016,3,9,1,2016-09-01,858.0,0.0,ORD,DFW,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
23,449234,2016,3,9,1,2016-09-01,854.0,0.0,ORD,LAS,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
24,350453,2016,3,9,1,2016-09-01,759.0,0.0,ORD,LAS,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
25,23900,2016,3,9,1,2016-09-01,853.0,0.0,ORD,MCO,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
26,227496,2016,3,9,1,2016-09-01,837.0,0.0,ORD,DEN,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
27,228819,2016,3,9,1,2016-09-01,843.0,0.0,ORD,ATL,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
28,105765,2016,3,9,1,2016-09-01,754.0,0.0,ORD,ATL,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
29,55853,2016,3,9,1,2016-09-01,846.0,0.0,ORD,CLT,...,25,10,113,66,64,160,88,800,ORD,2016-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851289,279947,2017,1,1,31,2017-01-31,2309.0,0.0,ATL,MCO,...,16,10,113,64,64,220,45,2300,ATL,2017-01-31
1851290,294943,2017,1,1,18,2017-01-18,2325.0,0.0,PHX,EWR,...,8,10,119,60,60,56,58,2300,PHX,2017-01-18
1851291,419101,2017,1,1,18,2017-01-18,112.0,0.0,LAS,IAH,...,8,10,113,45,44,290,43,100,LAS,2017-01-18
1851292,296267,2017,1,1,17,2017-01-17,2329.0,0.0,PHX,EWR,...,4,10,113,58,58,167,67,2300,PHX,2017-01-17
1851293,297725,2017,1,1,16,2017-01-16,2334.0,0.0,PHX,EWR,...,5,10,113,59,59,169,68,2300,PHX,2017-01-16
1851294,297214,2017,1,1,16,2017-01-16,2121.0,0.0,EWR,MCO,...,14,10,122,37,32,221,77,2100,EWR,2017-01-16
1851295,369987,2017,1,1,16,2017-01-16,2311.0,0.0,ATL,MCO,...,12,10,113,64,64,131,77,2300,ATL,2017-01-16
1851296,298487,2017,1,1,15,2017-01-15,55.0,0.0,PHX,ORD,...,4,10,113,59,59,230,73,0,PHX,2017-01-15
1851297,354208,2017,1,1,15,2017-01-15,2300.0,1.0,MCO,EWR,...,14,10,116,69,69,70,79,2200,MCO,2017-01-15
1851298,418528,2017,1,1,19,2017-01-19,2334.0,0.0,PHX,EWR,...,8,10,119,56,56,135,66,2300,PHX,2017-01-19
1851299,417036,2017,1,1,20,2017-01-20,2335.0,0.0,PHX,EWR,...,44,7,356,56,52,205,79,2300,PHX,2017-01-20
1851300,414545,2017,1,1,22,2017-01-22,123.0,1.0,PHX,EWR,...,11,10,113,55,55,74,62,2300,PHX,2017-01-22
1851301,312473,2017,1,1,4,2017-01-04,524.0,0.0,LAS,LAX,...,5,3,248,37,37,266,96,500,LAS,2017-01-04
1851302,327957,2017,1,1,11,2017-01-11,2211.0,0.0,JFK,LAX,...,21,5,296,40,38,172,97,2200,JFK,2017-01-11
1851303,327960,2017,1,1,18,2017-01-18,2213.0,0.0,JFK,LAX,...,18,6,143,37,34,345,94,2200,JFK,2017-01-18
1851304,327963,2017,1,1,25,2017-01-25,2209.0,0.0,JFK,LAX,...,14,10,113,36,36,195,85,2200,JFK,2017-01-25
1851305,354207,2017,1,1,14,2017-01-14,2335.0,1.0,MCO,EWR,...,9,10,113,71,71,56,81,2200,MCO,2017-01-14
1851306,354215,2017,1,1,22,2017-01-22,101.0,1.0,MCO,EWR,...,59,8,356,75,75,199,83,2200,MCO,2017-01-22
1851307,354221,2017,1,1,28,2017-01-28,2205.0,0.0,MCO,EWR,...,14,10,122,57,55,282,35,2200,MCO,2017-01-28
1851308,368992,2017,1,1,16,2017-01-16,30.0,0.0,DEN,ATL,...,10,5,332,31,26,335,97,0,DEN,2017-01-16
1851309,372864,2017,1,1,28,2017-01-28,22.0,0.0,DEN,ATL,...,12,10,116,26,21,257,45,0,DEN,2017-01-28
1851310,361400,2017,1,1,4,2017-01-04,9.0,1.0,ATL,CLT,...,20,10,122,41,35,327,75,2300,ATL,2017-01-04
1851311,361832,2017,1,1,4,2017-01-04,2332.0,0.0,ATL,MCO,...,20,10,122,41,35,327,75,2300,ATL,2017-01-04
1851312,365822,2017,1,1,14,2017-01-14,555.0,0.0,LAS,ATL,...,29,10,113,41,35,344,78,500,LAS,2017-01-14
1851313,435151,2017,1,1,14,2017-01-14,545.0,0.0,LAS,LAX,...,29,10,113,41,35,344,78,500,LAS,2017-01-14
1851314,371535,2017,1,1,27,2017-01-27,2312.0,0.0,ATL,MCO,...,16,10,116,37,32,274,78,2300,ATL,2017-01-27
1851315,414051,2017,1,1,22,2017-01-22,46.0,0.0,PHX,ORD,...,5,10,113,55,55,106,79,0,PHX,2017-01-22
1851316,417663,2017,1,1,19,2017-01-19,123.0,0.0,LAS,IAH,...,5,9,176,44,43,187,66,100,LAS,2017-01-19
1851317,420388,2017,1,1,4,2017-01-04,2343.0,0.0,PHX,EWR,...,8,10,113,59,59,54,59,2300,PHX,2017-01-04
1851318,428700,2017,1,1,5,2017-01-05,552.0,0.0,LAS,LAX,...,5,7,143,43,42,284,96,500,LAS,2017-01-05

In [153]:
os.chdir(r"C:\Users\super\Downloads\FlightWeather_new")
result.to_csv('FlightWeather2016_17.csv')

In [151]:
result[result.isnull().any(axis=1)]

Empty DataFrame
Columns: [Unnamed: 0_x, Year, Quarter, Month, DayofMonth, FlightDate, DepTime, DepDel15, Origin, Dest, CRSDepTime, DepDelayMinutes, OriginAirportID, DestAirportID, ArrTime, CRSArrTime, ArrDel15, ArrDelayMinutes, ArrivalDate, ArrTime1, DepTime1, Unnamed: 0_y, windspeedKmph_x, DewPointF_x, cloudcover_x, precipMM_x, pressure_x, WindGustKmph_x, visibility_x, weatherCode_x, tempF_x, WindChillF_x, winddirDegree_x, humidity_x, time_x, Airport_x, Date_x, Unnamed: 0, windspeedKmph_y, DewPointF_y, cloudcover_y, precipMM_y, pressure_y, WindGustKmph_y, visibility_y, weatherCode_y, tempF_y, WindChillF_y, winddirDegree_y, humidity_y, time_y, Airport_y, Date_y]
Index: []

[0 rows x 53 columns]

In [53]:
dfq=result2_16[result2_16.isnull().any(axis=1)]

In [55]:
os.chdir(r"C:\Users\super\Downloads\FlightWeather_new")
dfq.to_csv('FlightWeathernull.csv')

In [67]:
dw1.loc[dw1['Airport'].isin(['DEN']) & dw1['time'].isin([2400]) & dw1['Date'].isin(['2016-06-01'])]

Empty DataFrame
Columns: [Unnamed: 0, windspeedKmph, DewPointF, cloudcover, precipMM, pressure, WindGustKmph, visibility, weatherCode, tempF, WindChillF, winddirDegree, humidity, time, Airport, Date]
Index: []